name: Build and Release Docker Image

on:
  push:
    branches:
      - main
    tags:
      - 'v1.0.0'   # 例如 v1.0.0 时触发
  workflow_dispatch: # 手动触发

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ghcr.io/dukenan/frontend-rdb:latest
          platforms: linux/amd64
          load: true

      - name: Export image tar
        run: |
          docker save ghcr.io/dukenan/frontend-rdb:latest -o image.tar

      - name: Upload image as release asset
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: image.tar
